{% extends 'core/base.html' %}
{% load static %}

{% block title %} Indice {% endblock %}

{% block content %}


<div class="content">			
				<div class="row">
					<div class="col-md-12">
						<div class="card white-content">
							<div class="card-header">
								
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Filtrar por categoría
								</button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

										{% for categoria in categorias|dictsort:'nombre'  %}
											
												{% if categoria.id == filtro %}
													<a href = "{% url 'core:indice' categoria.id|slugify%}" class="dropdown-item" style="background:#FECDCD; color:black"><b>{{categoria.nombre}}</b>	</a>
												{% else %}
													<a href = "{% url 'core:indice' categoria.id|slugify%}" class="dropdown-item">{{categoria.nombre}}</a>
												{% endif %}
										
										{% endfor %}

												{% if filtro == 0 %}
													<a href = "{% url 'core:indice' 0|slugify%}" class="dropdown-item" style="background:#FECDCD; color:black"><b>Todos</b></a>
												{% else %}
													<a href = "{% url 'core:indice' 0|slugify%}" class="dropdown-item">Todos</a>
												{% endif %} 
								</div>
							</div>
						
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Agregar
								</button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									<a class="dropdown-item" href="{% url 'core:nuevacategoria' %}" role="button">Agregar categoria</a>
									<a class="dropdown-item" href="{% url 'core:nuevoproducto' %}" role="button">Agregar producto por paquete</a>
									<a class="dropdown-item" href="{% url 'core:nuevoproducto2' %}" role="button">Agregar producto por unidad</a>
								</div>
							</div>
						
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table tablesorter " id="">
							<thead class=" text-primary">
								<th>
									
								</th>
								<th>
									<h4>ID</h4>
								</th>
								<th>
									<h4>Nombre</h4>
								</th>
								<th>
									<h4>Categoria</h4>
								</th>
								<th>
									
								</th>
								<th>
									
								</th>


							</thead>
							
							<tbody>
								{% for p in productos|dictsort:'categoria.id' %}
									<tr>
										<td>
									
										</td>
										<td >
											<p><b><font size="4">{{p.id}}</font></b></p>
										</td>
										<td >
											<p><b><font size="4">{{p.nombre}}</font></b></p>
										</td>
										<td >
											<p><b><font size="4">{{p.categoria.nombre}}</font></b></p>
										</td>
										
										<td>
											{% if p.empaquetado %}
												<a href="{% url 'core:editarproducto' p.id|slugify%}" >
													<i class="tim-icons icon-pencil" style= "color:black"></i>                            
												</a>
											{% else %}
												<a href="{% url 'core:editarproducto2' p.id|slugify%}" >
													<i class="tim-icons icon-pencil" style= "color:black"></i>                            
												</a>
											{% endif %}
										</td>
										<td>
											<a href="{% url 'core:eliminarproducto' p.id|slugify%}" >
												<i class="tim-icons icon-trash-simple" style= "color:red"></i>                            
											</a>
										</td>

									</tr>
								{% endfor %}
							</tbody>
						</table>
				      </div>
				</div>
			</div>
	    </div>
	</div>
</div>		  


    

{% endblock %}